{% extends "base.html" %} {% block title %} About {% endblock %} {% block content %}
<br>
<br>
<br>

<style>
    body {
        /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 76, 9, 1) 46%, rgba(0, 212, 255, 1) 100%);
    }

    .profile-edit-btn {
        flex-direction: row;
        position: relative;
        width: 120px;
        margin-left: 50%;
        right: 50%;
        text-align: center;
        font-size: 14px !important;
    }

    /* .col-6, .col-7{
        flex: auto;
        bottom: 10px;
    } */
</style>
<div class="container emp-profile">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{current_user.picture}}" alt="" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{current_user.fname}} {{current_user.lname}}
                </h5>
                <h6>
                    {{current_user.bio}}
                </h6>
                <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="pill" id="home-tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="pill" id="profile-tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <!-- <p>WORK LINK</p>
                    <button onclick="editProfile()" class="profile-edit-btn btn btn-primary" name="btnAddMore" >Edit Profile</button>
                    <form action="/users/{{current_user.id}}/delete" method="post">
                        <button class="profile-edit-btn btn btn-danger" onclick="return confirm('Are you sure?')" name="btnAddMore" >Delete</button>
                    </form> -->
                <div class="col-md-2">
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="tab-content">
            <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-6">
                            <button onclick="editProfile()" class="profile-edit-btn btn btn-primary" name="btnAddMore">Edit
                                Profile</button>
                        </div>
                        <div class="col-7">
                            <form action="/users/{{current_user.id}}/delete" method="post">
                                <button class="profile-edit-btn btn btn-danger" onclick="return confirm('Are you sure?')"
                                    name="btnAddMore">Delete Profile</button>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
                    <div id="profile_view" >
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{current_user.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{current_user.fname}} {{current_user.lname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{current_user.email}}</p>
                            </div>
   
                        </div>
                    </div>
                    <!-- Edit view -->
                    <div id="profile_edit" style="display:none">
                        <form action="/users/update" method="POST">
                            <input type="hidden" value="{{current_user.id}}" name="user_id">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Picture URL</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="picture-input2"
                                        value="{{current_user.picture}}" name="picture">
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="username-input2"
                                        value="{{current_user.username}}" name="username">
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p> <input type="text" class="form-control" id="first-name-input2"
                                            value="{{current_user.fname}}" name="fname"> <input type="text"
                                            class="form-control" id="first-name-input" value="{{current_user.lname}}"
                                            name="lname"></p>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Bio</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="bio-input2" value="{{current_user.bio}}"
                                        name="bio">
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <!-- <p>{{current_user.email}}</p> -->
                                    <input type="email" class="form-control" id="email-input2"
                                        value="{{current_user.email}}" name="email">
    
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Password</label>
                                </div>
                                <div class="col-md-6">
    
                                    <input type="password" class="form-control" id="password-input2" value="Password"
                                        name="password">
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Enf of edit view -->
            <!-- End of About -->

            
                <!-- <div class="container h-100">   -->
                <!-- </div> -->
            </div>
            <!-- View Comments -->
            <div class="tab-pane fade" id="profile">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Feedback</th>
                      <th>Rating</th>
                      <th>Company</th>
                      <th>Posted</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for review in user_review %}
                   
                    <tr>
                      <td>{{review.feedback}}</td>
                      <td>{{review.rating}}</td>
                      <td><a href="{{ url_for('singleUser', id=review.user.id) }}" >{{review.user.companyName}}</a></td>
                      <td>{{review.commment_date.strftime('%m/%d/%Y  %I:%M')}}</td>
                      <td><button onclick="editComment()" class="comment-edit-btn btn btn-primary" name="btnAddMore">Edit</button></td> 
                      <td><form action="/comments/{{review.id}}/delete" method="post">
                                <button class="comment-edit-btn btn btn-danger" onclick="return confirm('Are you sure?')"
                                    name="btnAddMore">Delete</button>
                            </form></td>
                    </tr>
                  
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- Edit Comments -->
              <div id="comment_edit" style="display:none">
                <form action="/comments/update" method="POST">
                    {% for review in user_review %}
                    <input type="hidden" value="{{current_user.id}}" name="user_id">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Feedback</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="feedback-input2"
                                value={{review.feedback}} name="feedback">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Rating</label>
                        </div>
                        <div class="col-md-6">
                            <p> <input type="text" class="form-control" id="rating-input2"
                                    value="{{review.rating}}" name="rating"> </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
            <!-- End of Comment edit -->
        </div>
    </div>
   </div>


</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/customScripts.js">
</script>{% endblock %}