{% extends "base.html" %}  {% block title %} About {% endblock %} {% block content %}
<br>
<br>

<style>
    body {
        /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 76, 9, 1) 46%, rgba(0, 212, 255, 1) 100%);
    }

    /* button{
    display: block;
    width: 100%;
    padding-right: 80%;
    margin: 14px 0;
} */

img {
  display: block;
  max-width: 40%;
  height: auto;
}
  
</style>


<div class="container">

    <div class="row">
        <div class="col-12">
            <form method="GET" action="/companies/search">
            <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search..." aria-label="Search" name="companyName">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="basic-text1">Search</button>
                </div>
            </form>

            </div>
        </div>    
    </div>
    <br>
    <div class="row">
        
        <div class="col-sm-6">
          {% for item in data %}
          <div class="card">
            <img class="rounded-circle " alt="100x100" src="{{item[4]}}"
            data-holder-rendered="true">
            <div class="card-body">
              <h5 class="card-title">{{item[5]}}</h5>
              <p class="card-text">{{item[6]}}</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add a Review
                </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/comments/create" method="POST">
                {% for item in data %}
                <div class="form-group">
                    <input type="hidden" class="form-control" id="companyName-input" value="{{item[5]}}" name="companyName">
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="hidden" class="form-control" id="user_id-input" value="{{current_user.id}}" name="user_id">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="feedback-input" placeholder="Enter feedback" name="feedback">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="rating-input" placeholder="Rating" name="rating">
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>
{% endblock %} 

