
{% extends "base.html" %} {% block title %} About {% endblock %} {% block content %}
<style>
    h2 {
    color:lightskyblue;
    margin-bottom: 1em;
}

.form-wrapper {
  
    margin-top: 10%;
    min-width: 40%;
    margin-bottom: 10%;
    border: 2px solid lightgrey;
    padding: 1em 2em;
}

.first-name{
    margin-right: 0.5em;
}

.last-name{
    margin-left: 0.5em;
}
.gradient-styles{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,76,9,1) 46%, rgba(0,212,255,1) 100%);

}  
</style>


<div class="container-wrapper container-fluid d-flex justify-content-center align-items-center gradient-styles container-fluid">
  <div class="form-wrapper text-center">
    <h2 class="text-center">Sign Up</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="Customer-tab" data-toggle="tab" href="#Customer" role="tab" aria-controls="Customer" aria-selected="true">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="false">company</a>
      </li>
     
    </ul>
    <br>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Customer" role="tabpanel" aria-labelledby="Customer-tab">
        <form action="/signup_user" method="POST">
          <div class="name-wrapper d-flex">
              <div class="form-group first-name">
                  <input type="text" class="form-control" id="first-name-input" placeholder="First Name" name="fname">
              </div>
              <div class="form-group last-name">
                  <input type="text" class="form-control" id="last-name-input" placeholder="Last Name" name="lname">
              </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="picture-input" placeholder="Enter picture" name="picture">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="bio-input" placeholder="Enter bio" name="bio">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email-input" placeholder="Enter Email" name="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="username-input" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password-input" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
        <form action="/companies/create" method="POST">
          <div class="name-wrapper d-flex">
              <div class="form-group picture">
                  <input type="text" class="form-control" id="company-picture-input" placeholder="picture" name="picture">
              </div>
              <div class="form-group name">
                  <input type="text" class="form-control" id="company-name-input" placeholder="Company Name" name="name">
              </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="company-bio-input" placeholder="Enter bio" name="bio">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="company-specialization-input" placeholder="Enter specialization" name="specialization">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="company-email-input" placeholder="Enter Email" name="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="company-username-input" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="company-password-input" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
      </div>
 
    </div>
   
    <small><a href="/login">Already have an Account?</a></small>
  </div>
</div> 


{% endblock %}